<extend name="Base/common"/>

<block name="body">

   <div class="content paddingWidth">
    <div class="padTop20"></div>  
   <div class="panel panel-default">
		<div class="panel-heading"><span><b>订单信息</b></span></div>
			<table class="table table-hover">
	          		<tbody><tr class="active">
	          			<td>订单编号</td>
	            		<td>交易状态</td>
	            		<td>订单总金额</td>
	            		<td>&nbsp;</td>
	            		<td>成交时间</td> 
	          		</tr>
	      			<tr>
	      				<td>{$info.order.oid}</td>
		          		<td >{$info.order.status|get_order_status}</td>
		            	<td>
		            		商品金额： <font color="red">{$info.order.globalTotal} 元 </font></td>

		            	<td>{$info.order.create_time|date='Y-m-d',###}</td>		            	
		            	<td> 
		            		<form action="{:U('Pay/doalipay')}" method="post" class="pay-form">
		            			<input type="hidden" name="order[ordsubject]" value="test pay"/>
		            			<input type="hidden" name="order[trade_no]" value="{$info.order.oid}" />
		            			<input type="hidden" name="order[ordtotal_fee]" value="{$info.order.globalTotal}" />
		            			<input type="hidden" name="order[ordbody]" value="" />
		            			<input type="hidden" name="order[ordshow_url]" value="" />
		            			<input type="submit" class="operating btn btn-primary btn-sm" value="继续支付"/>
		            		</form>
		            	</td> 
		          	</tr>
		    </tbody></table>
					
	    <table class="table table-hover">	
	          	<tbody><tr class="active">
            		<td>商品图片</td>
            		<td>商品名称</td>
            		<td>单 价</td>
            		<td>数 量</td>
            		<td>小 计</td>
            		<td>&nbsp;</td>
          		</tr>
          		<volist name="info.product" id="vo">
		          	<tr>
		            	<td width="10%" ><a href=""><img width="80" height="60" src="{$vo.thumb|get_product_image}" title="真正的手剥核桃"></a></td>
		            	<td >{$vo.title}</td>
		        		<td >{$vo.price|get_format_price}</td>
		            	<td >{$vo.qty}</td>
		            	<td >{$vo.price}</td>
		            	<td>&nbsp;</td>
		          	</tr>
	          	</volist>

	          	
	          	<tr class="active">
	          		<td colspan="3">&nbsp;</td>
	          		<td colspan="3" style="text-align:right; padding-right:20px;"><span class="glyphicon glyphicon-time"></span> 自动取消订单时间 : <span class="cancelorder" orderid="5385b1f90364c45184003a9c" createdate="Wed May 28 2014 17:52:57 GMT+0800 (CST)" canceldate="172800">27时48分00秒</span></td>
	          	</tr>
	          	

      	</tbody></table>	
	</div>
   </div>
</block>