<!DOCTYPE html>
<html lang="zh_CN">
<head>
<meta charset="utf-8">
<title>网站后台管理系统</title>

<meta name="description" content="This is page-header (.page-header &gt; h1)">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="__CSS__/reset.css" rel="stylesheet">
<link href="__STATIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="__STATIC__/fontawesome/css/font-awesome.min.css">
<link rel="stylesheet" href="__STATIC__/ace/ace.min.css">
<link rel="stylesheet" href="__CSS__/index.css">
<!--[if lt IE 9]>
<script type="text/javascript" src="__STATIC__/jquery-1.10.2.min.js"></script>
<![endif]--><!--[if gte IE 9]><!-->
<script type="text/javascript" src="__STATIC__/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="__JS__/jquery.mousewheel.js"></script>
<!--<![endif]-->