    <div class="container1">
      <div class="devider2"></div>
      <div class="compass">
        <ul>
         <li>
         <p><img src="__IMG__/xaly_index_52.jpg" width="50" height="50" /></p>
         <ul>
          <h3>新手指南</h3>
          <li><a href="help_center.html">用户注册</a></li>
          <li><a href="help_center.html">用户登录</a></li>
          <li><a href="help_center.html">购物流程</a></li>
          
         </ul>
         </li>
         
         <li>
         <p><img src="__IMG__/xaly_index_54.jpg" width="50" height="50" /></p>
         <ul>
          <h3>付款方式</h3>
          <li><a href="help_center.html">支付方式</a></li>
          <li><a href="help_center.html">优惠券使用方式</a></li> 
          
         </ul>
         </li>
         
         <li>
         <p><img src="__IMG__/xaly_index_56.jpg" width="50" height="50" /></p>
         <ul>
          <h3>配送方式</h3>
          <li><a href="help_center.html">配送范围与送达时间</a></li>
          <li><a href="help_center.html">配送价格</a></li>
          <li><a href="help_center.html">退换货费用处理</a></li>
          
         </ul>
         </li>
         
         <li>
         <p><img src="__IMG__/xaly_index_58.jpg" width="50" height="50" /></p>
         <ul>
          <h3>售后服务</h3>
          <li><a href="help_center.html">退换货政策</a></li>
          <li><a href="help_center.html">常见问题</a></li>
          <li><a href="help_center.html">投诉与建议</a></li>
          
         </ul>
         </li>
         
         <li>
         <p><img src="__IMG__/xaly_index_49.jpg" width="50" height="50" /></p>
         <ul>
          <h3>诚信团购</h3>
          <li><a href="help_center.html">团购指南</a></li> 
          
         </ul>
         </li>
         
         <li>
         <p><img src="__IMG__/xaly_index_61.jpg" width="50" height="50" /></p>
         <ul>
          <h3>关于我们</h3>
          <li><a href="help_center.html">公司介绍</a></li>
          <li><a href="help_center.html">联系我们</a></li>
          <li><a href="help_center.html">友情链接</a></li>
          
         </ul>
         </li>
         
         
         <div class="clear"></div>
        </ul>
      </div>
    </div>

    <div class="footer">
        <p>版权所有：西安诚信粮油副食品经销部  技术支持：<a href="http://www.cmp580.com" class="white">华商动力</a></p>
        <p>地址：西安市莲湖区农业商业街南段3号    陕ICP备13019744号  客服电话:029-86275364  传真：86275364</p>
    </div>
   
    <div class="fixedBox">
      <UL class="fixedBoxList">
        <LI style="display: block;" id="cartboxs" class="fixeBoxLi cart_bd">
          <P class="good_cart">0</P>
          <span class="fixeBoxSpan"></span> <strong>购物车</strong>
          <div class="cartBox">
            <div class="bjfff"></div>
            <div class="message">购物车内暂无商品，赶紧选购吧</div>
          </div>
        </LI>
        <LI class="fixeBoxLi Service"> <span class="fixeBoxSpan"></span> <strong>在线客服</strong>
          <div class="ServiceBox">
            <div class="bjfff"></div>
            <dl >
              <dt><img src="__IMG__/Service1.jpg"></dt>
              <dd> <strong>在线QQ客服</strong>
                <P class="p1">9:00-22:00</P>
                <P class="p2"><a title="点击这里给我发消息"href="http://wpa.qq.com/msgrd?v=3&amp;uin=123456789&amp;site=qq&amp;menu=yes"target="_blank">点击交谈</A></P>
              </dd>
            </dl>
            <dl>
              <dt><img src="__IMG__/Service1.jpg"></dt>
              <dd> <strong>网页在线客服</strong>
                <P class="p1">9:00-22:00</P>
                <P class="p2"><a title="点击这里给我发消息"href="http://wpa.qq.com/msgrd?v=3&amp;uin=123456789&amp;site=qq&amp;menu=yes"target="_blank">点击交谈</A></P>
              </dd>
            </dl>
          </div>
        </LI> 
        <LI class="fixeBoxLi BackToTop"> <span class="fixeBoxSpan"></span> <strong>返回顶部</strong> </LI>
      </UL>
    </div>
    <script type="text/javascript">
    (function(){
      var ThinkPHP = window.Think = {
        "ROOT"   : "__ROOT__", //当前网站地址
        "APP"    : "__APP__", //当前项目地址
        "PUBLIC" : "__PUBLIC__", //项目公共目录地址
        "DEEP"   : "{:C('URL_PATHINFO_DEPR')}", //PATHINFO分割符
        "MODEL"  : ["{:C('URL_MODEL')}", "{:C('URL_CASE_INSENSITIVE')}", "{:C('URL_HTML_SUFFIX')}"],
        "VAR"    : ["{:C('VAR_MODULE')}", "{:C('VAR_CONTROLLER')}", "{:C('VAR_ACTION')}"]
      }
    })();
    </script>
    <script type="text/javascript" src="__STATIC__/think.js"></script>
    <script type="text/javascript" src="__JS__/common.js"></script>
    <!-- 代码end -->
    <script src="__JS__/youce.js"></script>
    <script type="text/javascript">
        jQuery(".fullSlide").slide({ titCell:".hd ul", mainCell:".bd ul", effect:"topLoop",  autoPlay:true, autoPage:true, trigger:"click" });
    </script>