<link href="__CSS__/ban.css" rel="stylesheet" type="text/css" /> 
<link rel="stylesheet" href="__CSS__/bootstrap.css">
<!-- 可选的Bootstrap主题文件（一般不用引入） -->
<link rel="stylesheet" href="__CSS__/bootstrap-theme.min.css">
<link href="__CSS__/bootstrap.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="__CSS__/font-awesome.css" />
<link href="__CSS__/css.css" rel="stylesheet" type="text/css" />
<script src="__JS__/jquery-1.9.1.js"></script>  
<script  src="__JS__/jquery.SuperSlide.2.1.js"></script> 
<!--[if lt IE 9]>
        <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
        <script src="http://cdn.bootcss.com/respond.__JS__/1.3.0/respond.min.js"></script>
<![endif]-->