    <div class="devider"></div>
    <div class="top">
      <div class="logoarea">
        <a href="index.html"><img src="__IMG__/xaly_index_03.jpg" width="238" height="59"/></a> 
      </div>  
      <div class="shopping">
        <a href="list_select.html"><i class="icon-th-list"></i>订单查询</a>
        <a href="{:U('product/cart')}"><i  class="icon-shopping-cart"></i>购物车 <span>(<php>echo count(session('shop_cart'))</php>)</span></a> 
      </div> 
      <div class="login">
        <if condition="is_login()">
            <a href="{:U('User/center')}">个人中心</a>
            <a href="{:U('User/logout')}" class="register">退出登陆</a>
        <else/>
            <a href="{:U('User/login')}">登录</a>
            <a href="{:U('User/register')}" style="margin-left:-3px;width:46px" class="register">注册</a>
        </if>
      </div>
    </div>

    <div class="nav">
      <ul>
          <!-- {:W('Category/lists', array(0,false))} -->
          <li><a href="Home/news.html">新闻中心</a></li>
      </ul>
    </div>

    <div id="top-alert" class="fixed alert alert-danger g-message" style="display: none;">
        <button class="close fixed" style="margin-top: 4px;">&times;</button>
        <div class="alert-content">这是内容</div>
    </div>