<extend name="Public/base"/>

<block name="header">
    <li class="active"><a href="javascript:;">安装协议</a></li>
    <li><a href="javascript:;">环境检测</a></li>
    <li><a href="javascript:;">创建数据库</a></li>
    <li><a href="javascript:;">安装</a></li>
    <li><a href="javascript:;">完成</a></li>
</block>

<block name="body">
    <h1>欢迎使用Zcms</h1>

    <p>感谢您选择Zcms.希望我们的努力能为您提供一个简单、强大的站点解决方案. </p>
    <p>
        Zcms本身集成了cms管理和商店管理，融合当下开源程序的优势，致力于打造灵活快速的内容管理系统。
    </p>

    
</block>

<block name="footer">
    <a class="btn btn-primary btn-large" href="{:U('Install/step1')}">同意安装协议</a>
    <a class="btn btn-large" href="http://www.onethink.cn">不同意</a>
</block>