<extend name="Public/base"/>

<block name="body">
	<div class="g-wrap">
		<!-- 按钮工具栏 -->
		<div class="u-tab">
		    <ul class="cc">
		      <li class="current"><a href="javascript:;">行为日志</a></li>
		    </ul>
		</div>
		<!-- 数据表格 -->
	    <div class="table_list">
			<table width="100%">
		    <thead>
		        <tr>
				<th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
				<th class="">编号</th>
				<th class="">行为名称</th>
				<th class="">执行者</th>
				<th class="">执行时间</th>
				<th class="">操作</th>
				</tr>
		    </thead>
		    <tbody>
				<notempty name="_list">
				<volist name="_list" id="vo">
				<tr>
		            <td><input class="ids" type="checkbox" name="ids[]" value="{$vo.id}" /></td>
					<td>{$vo.id} </td>
					<td>{:get_action($vo['action_id'],'title')}</td>
					<td>{:get_nickname($vo['user_id'])}</td>
					<td><span>{$vo.create_time|time_format}</span></td>
					<td><a href="{:U('Action/edit?id='.$vo['id'])}">详细</a>
						<a class="confirm J_ajax_get" href="{:U('Action/remove?ids='.$vo['id'])}">删除</a>
		                </td>
				</tr>
				</volist>
				<else/>
				<td colspan="6" class="input-center"> aOh! 暂时还没有内容! </td>
				</notempty>
			</tbody>
		    </table> 
		</div>
		<div class="btn_wrap">
			<div class="btn_wrap_pd">
		        <a class="btn btn_small J_ajax_get" href="{:U('Index/setKey',array('cid'=>$_GET['menuId'],'title'=>$meta_title))}"><i class="fa fa-heart"></i></a>
		        <button class="btn J_ajax_get confirm" url="{:U('clear')}">清 空</button>
				<button class="btn J_ajax_post confirm" target-form="ids" url="{:U('remove')}">删 除</button>
		    </div>
		</div>
		<!-- 分页 -->
	    <div class="page">
	        {$_page}
	    </div>
	</div>
</div>

</block>
<block name="script">
<script type="text/javascript">
$(function(){
	$("#action_add").click(function(){
		window.location.href = $(this).attr('url');
	})
})
</script>
</block>
