<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{:C('WEB_SITE_TITLE')}</title>
<include file="Public:head" />
</head>

<body id="index">
    <include file="Public:header"/>
    <div class="container1">
      <div id="content" class="content">
          <block name="body"></block>
      </div>
    </div>
    <include file="Public:footer"/>
    <block name="script"></block>
</body>
</html>