<extend name="Base/common"/>

<block name="body">
    <div class="promise"></div>
    <div class="paddingWidth">
      <div id="hot_sale" class="hot_sale">
       <div class="tit"><span></span></div>
       <ul style="margin:0 10px;">
         <li class="one_third"><a class="wangge" href="each_product.html"></a><a href="each_product.html"><img src="__IMG__/xaly_index_36.jpg" data-img="__IMG__/xaly_index_36.jpg" width="100%" height="320" /></a>
          <div class="title">
           <span class="new_price">￥9.9</span>
           <span class="old_price">￥25.5</span>
           <a href="shopping_cart.html" class="shop_cart"></a>
          </div>
         </li>
         <li class="one_third"><a class="wangge" href="each_product.html"></a><a href="each_product.html"><img src="__IMG__/xaly_index_36.jpg" data-img="__IMG__/xaly_index_36.jpg" width="100%" height="320" /></a>
          <div class="title">
           <span class="new_price">￥9.9</span>
           <span class="old_price">￥25.5</span>
           <a href="shopping_cart.html" class="shop_cart"></a>
          </div>
         </li>
         <li class="one_third"><a class="wangge" href="each_product.html"></a><a href="each_product.html"><img src="__IMG__/xaly_index_36.jpg" data-img="__IMG__/xaly_index_36.jpg" width="100%" height="320" /></a>
          <div class="title">
           <span class="new_price">￥9.9</span>
           <span class="old_price">￥25.5</span>
           <a href="shopping_cart.html" class="shop_cart"></a>
          </div>
         </li>
         <li class="one_third"><a class="wangge" href="each_product.html"></a><a href="each_product.html"><img src="__IMG__/none.gif" data-img="__IMG__/xaly_index_36.jpg" width="100%" height="320" /></a>
          <div class="title">
           <span class="new_price">￥9.9</span>
           <span class="old_price">￥25.5</span>
           <a href="shopping_cart.html" class="shop_cart"></a>
          </div>
         </li>
         <li class="one_third"><a class="wangge" href="each_product.html"></a><a href="each_product.html"><img src="__IMG__/none.gif" data-img="__IMG__/xaly_index_36.jpg" width="100%" height="320" /></a>
          <div class="title">
           <span class="new_price">￥9.9</span>
           <span class="old_price">￥25.5</span>
           <a href="shopping_cart.html" class="shop_cart"></a>
          </div>
         </li>
         <li class="one_third"><a class="wangge" href="each_product.html"></a><a href="each_product.html"><img src="__IMG__/none.gif" data-img="__IMG__/xaly_index_36.jpg" width="100%" height="320" /></a>
          <div class="title">
           <span class="new_price">￥9.9</span>
           <span class="old_price">￥25.5</span>
           <a href="shopping_cart.html" class="shop_cart"></a>
          </div>
         </li>
         <div class="clear"></div>
        </ul>
      </div>
    </div>
</block>
