<extend name="Base/common"/>

<block name="bread">
<div class="pct">
  <div class="tit_1">当前位置：<a href="{:U('index/index')}">首页</a> => 分享</div>
</div>
</block>

<block name="body">
<div class="baoz_1">
    <div class="plc_1">
     <ul class="fenxiang list-paddingleft-2">
	    <li>
	        <p>
	            <a href="http://service.weibo.com/share/share.php?url=<?php echo $_SERVER['HTTP_REFERER']?>%230-tsina-1-9265-397232819ff9a47a7b7e80a40613cfe1&amp;title={:C('WEB_SITE_TITLE')}&amp;appkey=1343713053&amp;retcode=6102">新浪微博</a>
	        </p>
	    </li>
	    <li>
	        <p>
	            <a href="http://share.v.t.qq.com/index.php?c=share&amp;a=index&amp;url=<?php echo $_SERVER['HTTP_REFERER']?>%230-tqq-1-29715-89b7933b38b0586d98eb9d131fa70b46&amp;title={:C('WEB_SITE_TITLE')}&amp;appkey=801cf76d3cfc44ada52ec13114e84a96">腾讯微博</a>
	        </p>
	    </li>
	    <li>
	        <p>
	            <a href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=<?php echo $_SERVER['HTTP_REFERER']?>%230-qzone-1-26739-d020d2d2a4e8d1a374a433f596ad1440&amp;title={:C('WEB_SITE_TITLE')}&amp;desc=&amp;summary=&amp;site=">QQ空间</a>
	        </p>
	    </li>
	    <li>
	        <p>
	            <a href="http://widget.renren.com/dialog/share?resourceUrl=<?php echo $_SERVER['HTTP_REFERER']?>%230-renren-1-60735-98fde57bb3d39343db0f272b38411f3e&amp;srcUrl=<?php echo $_SERVER['HTTP_REFERER']?>%230-renren-1-60735-98fde57bb3d39343db0f272b38411f3e&amp;title={:C('WEB_SITE_TITLE')}&amp;description=">人人网</a>
	        </p>
	    </li>
	    <li>
	        <p>
	            <a href="http://t.sohu.com/third/post.jsp?url=<?php echo $_SERVER['HTTP_REFERER']?>%230-tsohu-1-85186-9f63eb4558a8cb578d0bb0d749520580&amp;title={:C('WEB_SITE_TITLE')}">搜狐微博</a>
	        </p>
	    </li>
	    <li>
	        <p>
	            <a href="http://s.share.baidu.com/mshare?click=1&amp;url=<?php echo $_SERVER['HTTP_REFERER']?>&amp;uid=0&amp;to=mshare&amp;type=text&amp;relateUid=&amp;pic=&amp;title={:C('WEB_SITE_TITLE')}&amp;key=&amp;sign=on&amp;desc=&amp;comment=&amp;searchPic=0&amp;l=17q8j784i17q8j794p17q8jcedr&amp;linkid=hgk473bmdnj&amp;sloc=96.320.1.45.21.44.10.97.26.1.4125&amp;apiType=0&amp;buttonType=0&amp;firstime=1368235679937">一键分享</a>
	        </p>
	    </li>
	    <li>
	        <p>
	            <a href="http://t.163.com/article/user/checkLogin.do?info={:C('WEB_SITE_TITLE')}<?php echo $_SERVER['HTTP_REFERER']?>%230-t163-1-16275-2b495d7e897697455db50ea60cacff71&amp;source=%E7%99%BE%E5%BA%A6%E5%88%86%E4%BA%AB%E6%8C%89%E9%92%AE&amp;togImg=true">网易微博</a>
	        </p>
	    </li>
	    <li>
	        <p>
	            <a href="http://www.kaixin001.com/login/open_login.php?flag=1&amp;url=%2Frepaste%2Fshare.php%3Frurl%3Dfile%253A%252F%252F%252FD%253A%252Fnginx-1.2.8%252Froot%252Fdy%252Ffenxiang.html%25230-kaixin001-1-13537-ed389f5201114fe68357fd1787bf3b72%26rtitle%3D%25E6%25AC%25A7%25E5%25BE%25B7%25E5%25AE%259D%25E7%25BA%25AF%25E7%2589%259B%25E5%25A5%25B6%26rcontent%3D">开心网</a>
	        </p>
	    </li>
	</ul>
   </div>
</div>
</block>
