<extend name="./Application/Admin/View/Public/base.html" />

<block name="body">
	<div class="g-wrap">
		<!-- 按钮工具栏 -->
		<div class="u-tab">
		    <ul class="cc">
		      <li class="current"><a href="javascript:;">货运方式设置</a></li>
		      <li><a target="_self" href="{:U('ShopShipping/add',array('term'=>$term['term_id']))}">添加货运方式</a></li>
		    </ul>
		</div>
		
	    <div class="search_type cc mb10 search-form">
	      <div class="mb10">
	        <span class="mr20">状态：
        	<php>
        		$all = ($status)?'selected':'';
        		$first = ($status==1)?'selected':'';
        		$second = ($status==2)?'selected':'';
        	</php>
	        <select class="select_2 select" id="sch-sort-txt" name="term">
	          	<option value="" {$all}>全部</option>
	          	<option value="1" {$first}>已审核</option>
	          	<option value="2" {$second}>待审核</option>
	        </select>
	        &nbsp;&nbsp;时间：
	        <input type="text" name="time-start" id="time-start" class="input length_2" value="{:I('time-start')}" style="width:80px;" autocomplete="off" placeholder="起始时间">-<span class="input-append date" id="datetimepicker"><input type="text" id="time-end" name="time-end" class="input input" value="{:I('time-end')}" placeholder="结束时间" /><span class="add-on" style="background:none;border:none;"><i class="icon-th"></i></span></span>
	        &nbsp; &nbsp;标题：
	        <input type="text" class="input length_2" name="title" style="width:200px;" value="{:I('title')}" placeholder="请输入标题文档">
	        <a class="btn" href="javascript:;" id="search" url="{:U('article/mydocument','pid='.I('pid',0).'&cate_id='.$cate_id,false)}">搜索</a>
	        <!-- <a href="javascript:;" class="u-btn" onclick="{:U('post/index',array('resetFiter'=>true))}">重置</a> -->
	        </span>
	      </div>
	    </div>
		<!-- 数据表格 -->
	    <div class="table_list u-table">
			<table class="" width="100%">
		    <thead>
		        <tr>
				<th width="5%"><input class="check-all" type="checkbox"/></th>
				<th width="5%">编号</th>
				<th width="25%">标题</th>
				<th width="12%">价格</th>
				<th width="12%">描述</th>
				<th width="10%">操作</th>
				</tr>
		    </thead>
		    <tbody>
				<volist name="list" id="vo">
				<tr>
		            <td><input class="ids" type="checkbox" name="ids[]" value="{$vo.id}" /></td>
					<td>{$vo.id} </td>
					<td><a href="{:U('ShopShipping/index?cate_id='.$vo['category_id'].'&pid='.$vo['id'])}">{$vo.name}</a></td>
					<td>{$vo.price}</td>
					<td>{$vo.desc}</td>
					<td>
						<a href="{:U('ShopShipping/edit?cate_id='.$vo['category_id'].'&id='.$vo['id'])}">编辑</a>
						<a href="{:U('ShopShipping/delete?ids='.$vo['id'])}" class="confirm J_ajax_get">删除</a>
		                </td>
				</tr>
				</volist>
			</tbody>
		    </table> 
		</div>
		<div class="btn_wrap">
            <div class="btn_wrap_pd">
            <a class="btn btn_small J_ajax_get" href="{:U('Index/setKey',array('cid'=>$_GET['menuId'],'title'=>$meta_title))}"><i class="fa fa-heart"></i></a>
			<button class="btn J_ajax_post confirm" target-form="ids" url="{:U("ShopShipping/delete",array("status"=>-1))}">删 除</button>
            </div>
        </div>
		<!-- 分页 -->
	    <div class="page">
	        {$_page}
	    </div>
	</div>
</div>

</block>