<extend name="Base/common" />

<block name="body">
    <div class="paddingWidth">  
      <div id="xilie" class="hot_sale"> 
        <ul style="margin:0 10px;">
            <volist name="lists" id="vo">
              <li class="one_third">
                  <a class="wangge" href="{:U('Product/detail',array('id'=>$vo['id']))}"></a>
                  <a href="{:U('Product/detail',array('id'=>$vo['id']))}"><img src="{$vo.thumb|get_product_image}" data-img="{$vo.thumb|get_product_image}" width="100%" height="320" /></a>
                  <div class="title">
                      <span class="new_price">￥{$vo.price}</span>
                      <span class="old_price">￥{$vo.mrsp}</span>
                      <a href="shopping_cart.html" class="shop_cart"></a>
                  </div>
              </li>
            </volist>
           <div class="clear"></div>
        </ul>
      </div>
    </div>
</block>
   